html {
    scroll-behavior: smooth;
}

.section {
    height: 800px;
    
}

#content {
    padding: 100px 70px 100px 70px;
}

#intro {
    background-image: url("./web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav {
    display: flex;
    justify-content: space-between;
    background: grey;
    padding: 10px;
    padding-right: 50px;
    position: fixed;
    width: 100%;
}

#nav-list {
    list-style-type: none;
    display: flex;
    padding: 0 20px;
}

#nav-list li {
    margin: 0 15px;
}
#exp{
    margin-top: 250px;
    text-align: center;
}
.flex-layout {
    display: flex;
    padding: 80px 160px;
}

.flex-right {
    padding: 25px;
}

.flex-layout .icon {
    font-size: 30px;
    margin-right: 10px;
}
.content{
    background-color: white;
}

.center {
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
}

.project-item {
    box-shadow: 5px 5px 20px;
    margin: 15px;
}

#skills {
    text-align: center;
}

.skills-list {
    display: flex;
}

.skill-item {
    padding: 15px;
}

.progress {
    border-radius: 20px !important;
    height: 10px !important;
}
.my{
     margin-right: 70px;
     margin-top: 40px;
     margin-bottom: 0px;
}
.para{
    margin-top: 0px;
    margin-bottom: 500px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
}
.sec{
    margin-bottom: 30px;
}
